<h2>Sub</h2>
<a href="<%=subs_url%>"><img src="./assets/reddit.png" style='display:inline; width: 150px;' alt=""></a>
<li><%=@sub.title%></li>
<li><%=@sub.description%></li>
<li><%= User.find(@sub.moderator_id).username %></li>
<a href="<%=edit_sub_url(@sub)%>"> Edit</a>

<h1>Create Post</h1>
<form class="" action="<%=sub_posts_url(@sub)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%> ">
  <label>Title
    <input type="text" name="post[title]" value="">
  </label>
  <label>URL
    <input type="text" name="post[url]" value="">
  </label>
  <label>Content
    <textarea name="post[content]" value="">
      </textarea>
  </label>
  <input type="submit" name="" value="Create Post">
</form>


<% @sub.posts.each do |post| %>
  <%= post.title %>
  <li><%= post.url %></li>
  <li><%= post.content%></li>
  <br>
<% end %>