<h1>r/<%=@sub.title%></h1>
  <h3>Moderator</h3><%=User.find(@sub.moderator_id).username%>
  <h3>Description</h3><%=@sub.description%>

<br>


<a href="<%=edit_sub_url(@sub)%>"> Edit</a>

<h1>Create Post</h1>
<form class="" action="<%=sub_posts_url(@sub)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%> ">
  <label>Title
    <input type="text" name="post[title]" value="">
  </label>
  <label>URL
    <input type="text" name="post[url]" value="">
  </label>
  <br><br>
  <label>Content
    <textarea name="post[content]" value="">
      </textarea>
  </label>
  
  <label><br> Post to: <br>
    <% Sub.all.each do |sub| %>
      <label>
        <input type="checkbox" name="<%= sub.title %>" value="<%= sub.id %>">
        <%= sub.title %><br>
      </label>
    <% end %>
  </label>
  
  <input type="submit" name="" value="Create Post">
  <br><br>
</form>


<% @sub.posts.each do |post| %>
  <%= post.title %>
  <form class="" action="<%=  post_url(post)%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%> ">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete">
  </form>
  <li><%= post.url %></li>
  <li><%= post.content%></li>
  <br>
<% end %>



git filter-branch -f --env-filter "GIT_AUTHOR_NAME='sameehkhan'; GIT_AUTHOR_EMAIL='sameehkhan1@gmail.com'; GIT_COMMITTER_NAME='sameehkhan'; GIT_COMMITTER_EMAIL='sameehkhan1@gmail.com';" HEAD
